* {box-sizing: border-box;}

.header {
  background-color: black;
  list-style: none;
  margin-bottom: 10px;
  height: 5em;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 2;
}

.header-text {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 2em;
}

.header-logo {
  width: 1.75em;
  height: 1.75em;
  margin-right: .5em;
}

.header-container {
  display: inline-block;
}

a.header-button {
  text-decoration: none; 
  color: white;
}

a.header-button:hover {
  color: #AB92BF;
}

.header-button {
  display: inline-block;
  margin-top: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

/* The search bar */

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.header .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .header .search-container {
    float: none;
  }
  .header a, .header input[type=text], .header .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .header input[type=text] {
    border: 1px solid #ccc;  
  }
}
